<div id="detalheInspecao" th:replace="inspecao/detalheInspecao"></div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">

			<div class="panel-body">
				<div>
					<ul th:if="${Erro} != null" class="errorlist">
						<li th:text="${Erro}">Dados Incorretos</li>
					</ul>

				</div>
				<div th:if="${inspecao.vistoria} == null">
					<button class="btn btn-default" type="submit" name="save"
						th:onClick="'perguntaInicioVistoria(' + ${inspecao.idInspecao} +')'"
						th:text="#{inspecao.iniciarInspecao}">Add Inspecao</button>
				</div>
				<div th:if="${inspecao.vistoria} != null">
					<dt th:text="#{inspecao.vistorias.dtInicioInspecao}">DtInicioInsp</dt>
					<dd th:text="${{inspecao.vistoria.dtInicioInspecao}}">DtInicioInsp</dd>
					<button th:if="${inspecao.status.idStatus} == 4" class="btn btn-default" type="submit" name="save"
						th:onClick="'perguntaInicioVistoria(' + ${inspecao.idInspecao} +')'"
						th:text="#{inspecao.reiniciarInspecao}">Add Inspecao</button>
				</div>


			</div>
		</div>
	</div>
</div>
<div class="row"
	th:if="(${inspecao.vistoria} != null) and (${inspecao.vistoria.dtInicioInspecao} != null)">
	<div class="col-lg-12">
		<div class="panel panel-default">

			<div class="panel-body">
				<div th:if="${inspecao.vistoria.dtFimInspecao} == null">
					<button class="btn btn-default" type="submit" name="save"
						th:onClick="'perguntaFimVistoria(' + ${inspecao.idInspecao} +')'"
						th:text="#{inspecao.finalizarInspecao}">Add Inspecao</button>
					<br />
					<button class="btn btn-default"
						th:onClick="'perguntaFrustrarVistoria(' + ${inspecao.idInspecao} +')'"
						th:text="#{inspecao.frustrarInspecao}">Add Inspecao</button>
				</div>
				<div th:if="${inspecao.vistoria.dtFimInspecao} != null">
					<dt th:text="#{inspecao.vistorias.dtFimInspecao}">DtInicioInsp</dt>
					<dd th:text="${{inspecao.vistoria.dtFimInspecao}}">DtInicioInsp</dd>
				</div>
			</div>
		</div>
	</div>
</div>

