<div class="row">
	<div class="col-lg-6">

		<div class="listaRamos" th:unless="${#lists.isEmpty(allRamos)}">
			<h2 th:text="#{titulo.listaRamos}">Lista de Ramos</h2>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th th:text="#{ramo.idRamo}">Id</th>
								<th th:text="#{ramo.descRamo}">Descrição</th>
								<th>Remover</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="ass : ${allRamos}">
								<td th:text="${ass.idRamo}">1</td>
								<td th:text="${ass.descRamo}">descRamo</td>
								<td><a href="#"
									th:onclick="'executaAjaxGet(\'/ramo/remover/'+ ${ass.idRamo} + '\',\'page-wrapper\',\'\',\'\');'"><span
										class="glyphicon glyphicon-remove"></span></a></td>

							</tr>
						</tbody>
					</table>
				</div><!-- table responsive -->
			</div><!-- panel body -->

		</div><!-- Lista Ramos -->
		</div><!-- col-lg-6 -->
		</div><!-- row -->
		<div class="row">
	<div class="col-lg-12">
		<div>
			<h2 th:text="#{titulo.novoRamo}">Add Novo Ramo</h2>
			<form role="form" class='usaAjax' action="#" th:action="@{/ramo}"
				th:object="${ramo}" method="post">
				<fieldset>
					<legend th:text="#{ramo.dados}">Dados do Ramo</legend>
					<ul th:if="${#fields.hasErrors('*')}" class="errorlist">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Dados
							Incorretos</li>
					</ul>
					<div class="form-group">
						<label for="nomeRamo"> <span
							th:text="#{ramo.descRamo}">descRamo</span>
						</label> <input class="form-control" type="text" th:field="*{descRamo}"
							th:errorclass="fieldError" />
					</div>
										
						<button class="btn btn-default" type="submit" name="save" onclick="formSubmitClick(this,'page-wrapper')"
							th:text="#{ramo.salvar}">Add Ramo</button>
					
				</fieldset>
			</form>
		</div>
	</div>
</div>