
		<link rel='stylesheet' href='/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css' />
		<link rel='stylesheet' href='/webjars/datatables/1.10.13/css/jquery.dataTables.min.css' />
		<!-- <link rel='stylesheet' href='/webjars/datatables-responsive/2.1.0/css/responsive.dataTables.scss' /> -->
		<link rel='stylesheet' href='/webjars/bootstrap-multiselect/0.9.13-1/css/bootstrap-multiselect.css' />
		
		<link rel='stylesheet' href='/static/css/jquery.datetimepicker.min.css' />
		
		<link rel='stylesheet' href='/static/css/styles.css' />
		<link rel="stylesheet" href="/static/css/metisMenu.min.css" />
		<!-- Custom CSS -->
		<link href="/static/css/sb-admin-2.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css"/>
	