		<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
		<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
		<script src="/static/js/scripts.js"></script>
		<!-- Metis Menu Plugin JavaScript -->
		<script src="static/vendor/metisMenu/metisMenu.min.js"></script>

		<!-- Morris Charts JavaScript -->
		<!-- 
		<script src="static/vendor/raphael/raphael.min.js"></script>
		<script src="static/vendor/morrisjs/morris.min.js"></script>
		<script src="static/data/morris-data.js"></script> 
		-->

		<!-- Custom Theme JavaScript -->
		<script src="static/dist/js/sb-admin-2.js"></script>
