
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span
					th:text="#{inspecao.titulo.detalheInspecao} + ${inspecao.idInspecao}">Add
					Novo Inspecao</span>
			</div>
			<div class="panel-body">
				<div class="col-lg-4">
					<dl>
						<dt th:text="#{inspecao.idInspecao}">Id</dt>
						<dd th:text="${inspecao.idInspecao}">1</dd>
						<dt th:text="#{inspecao.fase}">fase</dt>
						<dd th:text="${inspecao.fase.descFase}">fase</dd>
						<dt th:text="#{inspecao.dtSolicitacaoInspecao}">DtSolInsp</dt>
						<dd th:text="${{inspecao.dtSolicitacaoInspecao}}">DtSolInsp</dd>
						<dt th:text="#{inspecao.nomeCorretor}">nome Corretor</dt>
						<dd th:text="${inspecao.nomeCorretor}">nome Corretor</dd>
						<dt th:text="#{inspecao.telefoneCorretor}">telefone corretor</dt>
						<dd th:text="${inspecao.telefoneCorretor}">telefone corretor</dd>
						<dt th:text="#{inspecao.numInspecaoCliente}">num insp cliente</dt>
						<dd th:text="${inspecao.numInspecaoCliente}">num insp cliente</dd>
						<dt th:text="#{inspecao.numPropostaCliente}">num proposta
							cliente</dt>
						<dd th:text="${inspecao.numPropostaCliente}">num proposta
							cliente</dd>
							<dt th:text="#{inspecao.valorTotalRisco}">valor total risco</dt>
							<dd th:text="${{inspecao.valorTotalRisco}}">valor total risco</dd>
					</dl>
				</div>
				<div class="col-lg-4">
					<dl>
						<dt th:text="#{inspecao.nomeContato}">qtd blococ</dt>
						<dd th:text="${inspecao.nomeContato}">qtd blococ</dd>
						<dt th:text="#{inspecao.telefoneContato}">qtd blococ</dt>
						<dd th:text="${inspecao.telefoneContato}">qtd blococ</dd>						
						
						<dt th:text="#{inspecao.qtdBlocos}">qtd blococ</dt>
						<dd th:text="${inspecao.qtdBlocos}">qtd blococ</dd>
						<dt th:text="#{inspecao.roubo}">roubo</dt>
						<dd th:text="${inspecao.roubo}? #{bool.true} : #{bool.false}">yes</dd>
						<dt th:text="#{inspecao.observacao}">observacao</dt>
						<dd th:text="${inspecao.observacao}">observacao</dd>
						<dt th:text="#{inspecao.cliente}">cliente</dt>
						<dd th:text="${inspecao.cliente.descCliente}">cliente</dd>
						<dt th:text="#{inspecao.endereco}">endereco</dt>
						<dd
							th:text="${inspecao.endereco.tipoLogradouro.descTipoLogradouro} + ' ' + ${inspecao.endereco.logradouro} + ' ' + ${inspecao.endereco.numero} + ' - ' + ${inspecao.endereco.complemento} +' - ' +${inspecao.endereco.bairro} + ' - ' + ${inspecao.endereco.cidade.nomeCidade}">endereco</dd>

					</dl>
				</div>
				<div class="col-lg-4">
					<dl>

						<dt th:text="#{inspecao.ramo}">ramo</dt>
						<dd th:text="${inspecao.ramo.descRamo}">ramo</dd>
						<dt th:text="#{inspecao.status}">status</dt>
						<dd th:text="${inspecao.status.descStatus}">status</dd>
						<dt th:text="#{inspecao.tipoInspecao}">tipo inspecao</dt>
						<dd th:text="${inspecao.tipoInspecao.descTipoInspecao}">tipo
							inspecao</dd>
						<dt th:text="#{inspecao.inspecaoAtividadeInformada}">inspecaoAtividadeInformada</dt>
						<dd>
							<span
								th:each="atividade : ${inspecao.inspecaoAtividadeInformada}"
								th:text="${atividade.descAtividade} + '; '">atividade</span>
						</dd>
						<dt th:text="#{inspecao.segurado.nomeSegurado}">segurado</dt>
						<dd th:text="${inspecao.segurado.nomeSegurado}">segurado</dd>
						<dt th:text="#{inspecao.segurado.cpfCnpj}">cpf cnpj segurado</dt>
						<dd th:text="${inspecao.segurado.cpfCnpj}">cpf cnpj segurado</dd>
						<dt th:text="#{inspecao.segurado.telefoneSegurado}">segurado</dt>
						<dd th:text="${inspecao.segurado.telefoneSegurado}">segurado</dd>
					</dl>
				</div>
			</div>
		</div>
		<div th:if="${inspecao.agendamentos} != null">
			<div th:each="agendamento : ${inspecao.agendamentos}">
				<div th:if="${agendamento.ultimo}">
					<div class="panel panel-default col-lg-4">
						<div class="panel-body">
							<dl>
								<dt>Último Agendamento:</dt>
								<dd th:text="'Data agendada: ' + ${{agendamento.dtAgendada}}"></dd>
								<!-- <dd th:text="'Nome Contato: ' + ${{agendamento.nomeContato}}"></dd>
								<dd
									th:text="'Telefone Contato: ' + ${{agendamento.telefoneContato}}"></dd> -->
								<dd th:text="'Observações: ' + ${{agendamento.observacoes}}"></dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div th:if="${not #lists.isEmpty(inspecao.relatorios)}">
			<div th:each="obj : ${inspecao.relatorios}">
				<div th:if="${obj.ultimo}">
					<div class="panel panel-default col-lg-4">

						<div class="panel-body">
							<dt th:text="#{relatorio.dataInicioRelatorio}"></dt>
							<dd th:text="${{obj.dataInicioRelatorio}}"></dd>

							<dt th:text="#{relatorio.funcionarioRelator}"></dt>
							<dd th:text="${{obj.funcionarioRelator.nomeFuncionario}}"></dd>

							<div th:if="${obj.dataFimRelatorio} != null">

								<dt th:text="#{relatorio.dataFimRelatorio}"></dt>
								<dd th:text="${{obj.dataFimRelatorio}}"></dd>

								<dt th:text="#{relatorio.naoConformidades}"></dt>

								<dd th:if="${#lists.isEmpty(obj.naoConformidades)}">Nenhuma
									Não-Conformidade Cadastrada</dd>
								<dd th:each="nc:${obj.naoConformidades}"
									th:text="${nc.descNaoConformidade}"></dd>

								<dt th:if="${obj.observacao} != null"
									th:text="#{relatorio.observacao}"></dt>
								<dd th:if="${obj.observacao} != null"
									th:text="${obj.observacao}"></dd>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div th:if="${not #lists.isEmpty(inspecao.revisaos)}">
			<div th:each="obj : ${inspecao.revisaos}">
				<div th:if="${obj.ultimo}">
					<div class="panel panel-default col-lg-4">

						<div class="panel-body">
							<dt th:text="#{revisao.dataInicioRevisao}"></dt>
							<dd th:text="${{obj.dataInicioRevisao}}"></dd>

							<dt th:text="#{revisao.funcionarioRevisor}"></dt>
							<dd th:text="${{obj.funcionarioRevisor.nomeFuncionario}}"></dd>

							<div th:if="${obj.dataFimRevisao} != null">

								<dt th:text="#{revisao.dataFimRevisao}"></dt>
								<dd th:text="${{obj.dataFimRevisao}}"></dd>

								<dt th:text="#{revisao.naoConformidades}"></dt>

								<dd th:if="${#lists.isEmpty(obj.naoConformidades)}">Nenhuma
									Não-Conformidade Cadastrada</dd>
								<dd th:each="nc:${obj.naoConformidades}"
									th:text="${nc.descNaoConformidade}"></dd>

								<dt th:if="${obj.observacao} != null"
									th:text="#{revisao.observacao}"></dt>
								<dd th:if="${obj.observacao} != null"
									th:text="${obj.observacao}"></dd>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>




	</div>
</div>

