<br />
<!-- row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span th:text="#{titulo.novoInspecao}">Add Novo Inspecao</span>

			</div>
			<div class="panel-body">
				<form role="form" class='usaAjax' action="#"
					th:action="@{/inspecao/editar}" th:object="${inspecao}"
					method="post">
					<input type="hidden" th:field="*{idInspecao}" />
					<fieldset>
						<div class="row">
							<div class="col-lg-12">

								<ul th:if="${#fields.hasErrors('*')}" class="errorlist">
									<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Dados
										Incorretos</li>
								</ul>
							</div>
							<div class="col-lg-6">

								<div class="form-group">
									<label for="dtSolicitacaoInspecao"> <span
										th:text="#{inspecao.dtSolicitacaoInspecao}">dtSolicitacaoInspecao</span>
									</label> <input class="form-control" readonly="true" type="text"
										th:field="*{dtSolicitacaoInspecao}" th:errorclass="fieldError" />
								</div>

								<div class="form-group">
									<label for="cliente" th:text="#{inspecao.cliente}">cliente</label>
									<select class="form-control" th:field="*{cliente}"
										th:onChange="'
						executaAjaxGet(\'/inspecao/ramoPorCliente/\' + $(this).val(), \'listaRamos\', \'\', function(){$(\'#opcaoClienteBranco\').remove();});
						executaAjaxGet(\'/inspecao/tipoInspecaoPorCliente/\' + $(this).val(), \'listaTipoInspecaos\', \'\', function(){$(\'#opcaoClienteBranco\').remove();});
						'"
										th:errorclass="fieldError">
										<option id="opcaoClienteBranco" value="">Selecione um
											Cliente</option>
										<option th:each="cliente : ${allClientes}"
											th:value="${cliente.idCliente}"
											th:text="${cliente.descCliente}">cliente</option>
									</select>
								</div>

								<div class="form-group">
									<label for="numInspecaoCliente"> <span
										th:text="#{inspecao.numInspecaoCliente}">numInspecaoCliente</span>
									</label> <input class="form-control" type="text"
										th:field="*{numInspecaoCliente}" th:errorclass="fieldError" />
								</div>

								<div class="form-group">
									<label for="numPropostaCliente"> <span
										th:text="#{inspecao.numPropostaCliente}">numPropostaCliente</span>
									</label> <input class="form-control" type="text"
										th:field="*{numPropostaCliente}" th:errorclass="fieldError" />
								</div>

								<div id="listaTipoInspecaos" class="form-group">
									<label for="tipoInspecao"> <span
										th:text="#{inspecao.tipoInspecao}">tipoInspecao</span>
									</label> <select th:errorclass="fieldError" class="form-control"
										th:field="*{tipoInspecao}">
										<option th:each="tipoInspecao : ${listaTipoInspecao}"
											th:value="${tipoInspecao.idTipoInspecao}"
											th:text="${tipoInspecao.descTipoInspecao}">tipoInspecao</option>
									</select>
								</div>
								<div id="listaRamos" class="form-group">
									<label for="ramo"> <span th:text="#{inspecao.ramo}">ramo</span>
									</label> <select th:errorclass="fieldError" class="form-control"
										th:field="*{ramo}">
										<option th:each="ramo : ${listaRamos}"
											th:value="${ramo.idRamo}" th:text="${ramo.descRamo}">Ramo</option>
									</select>
								</div>
								
								<div id="inspecaoAtividadeInformada" class="form-group">
									<label for="inspecaoAtividadeInformada"> <span th:text="#{inspecao.inspecaoAtividadeInformada}">inspecaoAtividadeInformada</span>
									</label><br/> <select th:errorclass="fieldError" class="form-control multipleSelect"
										th:field="*{inspecaoAtividadeInformada}" multiple="multiple">
										<option th:each="atividade : ${allAtividades}"
											th:value="${atividade.idAtividade}" th:text="${atividade.descAtividade}">Atividade</option>
									</select>
								</div>
								
									
								<div id = "coberturas" class="form-group">
									<label for="coberturas"> <span th:text="#{inspecao.coberturas}">coberturas</span>
									</label>
									<input class="form-control" type="text"
										th:field="*{coberturas}" th:errorclass="fieldError" />
								</div>

								<div class="form-group">
									<label for="nomeCorretor"> <span
										th:text="#{inspecao.nomeCorretor}">nomeCorretor</span>
									</label> <input class="form-control" type="text"
										th:field="*{nomeCorretor}" th:errorclass="fieldError" />
								</div>
								<div class="form-group">
									<label for="telefoneCorretor"> <span
										th:text="#{inspecao.telefoneCorretor}">telefoneCorretor</span>
									</label> <input class="form-control" type="text" maxlength="15"
										onkeyup="mascararTelefone(this);"
										onblur="mascararTelefone(this);"
										th:field="*{telefoneCorretor}" th:errorclass="fieldError" />

								</div>

								<div class="form-group">
									<label for="valorTotalRisco"> <span
										th:text="#{inspecao.valorTotalRisco}">valorTotalRisco</span>
									</label> <input class="form-control" type="text"
										onkeyup="mascaraDinheiro(this);"
										onblur="mascaraDinheiro(this);" th:field="*{valorTotalRisco}"
										th:errorclass="fieldError" />
								</div>

								<div class="form-group">
									<label for="qtdBlocos"> <span
										th:text="#{inspecao.qtdBlocos}">valorTotalRisco</span>
									</label> <input class="form-control" type="number"
										th:field="*{qtdBlocos}" th:errorclass="fieldError" />
								</div>

								<div class="form-group">
									<table class="table semBorda">
										<tr>
											<td><label th:for="${#ids.next('roubo')}"><span
													th:text="#{inspecao.roubo}">Roubo</span></label></td>
										</tr>
										<tr>
											<td><label><input type="radio" th:field="*{roubo}" value="true"/><span th:text="#{bool.true}">  </span></label></td>
											<td><label><input type="radio" th:field="*{roubo}" value="false" /><span th:text="#{bool.false}">  </span></label></td>
										</tr>
									</table>
								</div>


							</div>


							<div class="col-lg-6">


								<div class="form-group">
									<label for="segurado.cpfCnpj"> <span
										th:text="#{inspecao.segurado.cpfCnpj}">Cpf ou CNPJ</span>
									</label> <input class="form-control" type="text" maxlength="18"
										onkeyup="mascaraCpfCnpj(this);" onblur="mascaraCpfCnpj(this);"
										th:field="*{segurado.cpfCnpj}" th:errorclass="fieldError" />
								</div>


								<div class="form-group">
									<label for="segurado.nomeSegurado"> <span
										th:text="#{inspecao.segurado.nomeSegurado}">Nome
											Segurado</span>
									</label> <input class="form-control" type="text"
										th:field="*{segurado.nomeSegurado}" th:errorclass="fieldError" />
								</div>

								<div class="form-group">
									<label for="segurado.telefoneSegurado"> <span
										th:text="#{inspecao.segurado.telefoneSegurado}">telefone
											segurado</span>
									</label> <input class="form-control" type="text" maxlength="15"
										onkeyup="mascararTelefone(this);"
										onblur="mascararTelefone(this);"
										th:field="*{segurado.telefoneSegurado}"
										th:errorclass="fieldError" />
								</div>


								<div class="form-group">
									<label for="endereco.estado"> <span
										th:text="#{inspecao.endereco.estado}">estado</span>
									</label> <select class="form-control" th:field="*{endereco.estado}"
										th:onChange="'executaAjaxGet(\'/inspecao/cidadesPorEstado/\' + $(this).val(), \'listaCidades\', \'\', function(){$(\'#opcaoBranco\').remove();})'"
										th:errorclass="fieldError">
										<option id="opcaoBranco" value="">Selecione um Estado</option>
										<option th:each="estado : ${allEstados}"
											th:value="${estado.idEstado}" th:text="${estado.nomeEstado}">Estado</option>
									</select>
								</div>


								<div id="listaCidades" class="form-group">
									<label for="endereco.cidade"> <span
										th:text="#{inspecao.endereco.cidade}">cidade</span>
									</label> <select class="form-control" th:field="*{endereco.cidade}"
										th:errorclass="fieldError">
										<option th:each="cidade : ${listaCidades}"
											th:value="${cidade.idCidade}" th:text="${cidade.nomeCidade}">Cidade</option>
									</select>
								</div>

								<div class="form-group">
									<label for="endereco.tipoLogradouro"> <span
										th:text="#{inspecao.endereco.tipoLogradouro}">tipoLogradouro</span>
									</label> <select class="form-control"
										th:field="*{endereco.tipoLogradouro}">
										<option th:each="tipoLogradouro : ${allTipoLogradouros}"
											th:value="${tipoLogradouro.idTipoLogradouro}"
											th:text="${tipoLogradouro.descTipoLogradouro}">tipoLogradouro</option>
									</select>
								</div>
								<div class="form-group">
									<label for="endereco.logradouro"> <span
										th:text="#{inspecao.endereco.logradouro}">logradouro</span>
									</label> <input class="form-control" type="text"
										th:field="*{endereco.logradouro}" th:errorclass="fieldError" />
								</div>
								<div class="form-group">
									<label for="endereco.numero"> <span
										th:text="#{inspecao.endereco.numero}">logradouro</span>
									</label> <input class="form-control" type="text"
										th:field="*{endereco.numero}" th:errorclass="fieldError" />
								</div>
								<div class="form-group">
									<label for="endereco.bairro"> <span
										th:text="#{inspecao.endereco.bairro}">bairro</span>
									</label> <input class="form-control" type="text"
										th:field="*{endereco.bairro}" th:errorclass="fieldError" />
								</div>

								<div class="form-group">
									<label for="endereco.cep"> <span
										th:text="#{inspecao.endereco.cep}">cep</span>
									</label> <input class="form-control" type="text" maxlength="9"
										th:field="*{endereco.cep}" th:errorclass="fieldError"
										onkeyup="mascararCep(this);" onblur="mascararCep(this);" />
								</div>


								<div class="form-group">
									<label for="endereco.complemento"> <span
										th:text="#{inspecao.endereco.complemento}">complemento</span>
									</label> <input class="form-control" type="text"
										th:field="*{endereco.complemento}" th:errorclass="fieldError" />
								</div>





								<div class="form-group">
									<label for="status"> <span th:text="#{inspecao.status}">status</span>
									</label> <select th:errorclass="fieldError" class="form-control"
										th:field="*{status}">
										<option th:each="status : ${allStatus}"
											th:value="${status.idStatus}" th:text="${status.descStatus}">Status</option>
									</select>
								</div>
								
								<div class="form-group">
									<label for="fase"> <span th:text="#{inspecao.fase}">fase</span>
									</label> <select th:errorclass="fieldError" class="form-control"
										th:field="*{fase}">
										<option th:each="fase : ${allFases}"
											th:value="${fase.idFase}" th:text="${fase.descFase}">Fase</option>
									</select>
								</div>

							</div>
						</div>


						<button class="btn btn-default" type="submit" name="save"
							onclick="formSubmitClick(this,'form-wrapper')"
							th:text="#{inspecao.salvar}">Add Inspecao</button>

					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>