<div class="row">
	<div class="col-lg-6">
		<div>
			<h2 th:text="#{titulo.novoInspecao}">Add Novo Inspecao</h2>
			<form role="form" class='usaAjax' action="#" th:action="@{/inspecao/editar}"
				th:object="${inspecao}" method="post">
				<fieldset>
					<legend th:text="#{inspecao.dados}">Dados do Inspecao</legend>
					<ul th:if="${#fields.hasErrors('*')}" class="errorlist">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Dados
							Incorretos</li>
					</ul>
					<div class="form-group">
						<label for="dtSolicitacaoInspecao"> <span
							th:text="#{inspecao.dtSolicitacaoInspecao}">dtSolicitacaoInspecao</span>
						</label> <input type="hidden" th:field="*{idInspecao}" /> <input
							class="form-control" type="datetime"
							th:field="*{dtSolicitacaoInspecao}" th:errorclass="fieldError" />
					</div>
					<div class="form-group">
						<label for="nomeContato"> <span
							th:text="#{inspecao.nomeContato}">nomeContato</span>
						</label> <input class="form-control" type="text" th:field="*{nomeContato}"
							th:errorclass="fieldError" />
					</div>
					<div class="form-group">
						<label for="telefoneContato"> <span
							th:text="#{inspecao.telefoneContato}">telefoneContato</span>
						</label> <input class="form-control" type="text"
							th:field="*{telefoneContato}" th:errorclass="fieldError" />
					</div>
					<div class="form-group">
						<label for="nomeCorretor"> <span
							th:text="#{inspecao.nomeCorretor}">nomeCorretor</span>
						</label> <input class="form-control" type="text"
							th:field="*{nomeCorretor}" th:errorclass="fieldError" />
					</div>
					<div class="form-group">
						<label for="telefoneCorretor"> <span
							th:text="#{inspecao.telefoneCorretor}">telefoneCorretor</span>
						</label> <input class="form-control" type="text"
							th:field="*{telefoneCorretor}" th:errorclass="fieldError" />
					</div>
					<div class="form-group">
						<label for="numInspecaoCliente"> <span
							th:text="#{inspecao.numInspecaoCliente}">numInspecaoCliente</span>
						</label> <input class="form-control" type="text"
							th:field="*{numInspecaoCliente}" th:errorclass="fieldError" />
					</div>
					<div class="form-group">
						<label for="numPropostaCliente"> <span
							th:text="#{inspecao.numPropostaCliente}">numPropostaCliente</span>
						</label> <input class="form-control" type="text"
							th:field="*{numPropostaCliente}" th:errorclass="fieldError" />
					</div>
					<div class="form-group">
						<label for="valorTotalRisco"> <span
							th:text="#{inspecao.valorTotalRisco}">valorTotalRisco</span>
						</label> <input class="form-control" type="text"
							th:field="*{valorTotalRisco}" th:errorclass="fieldError" />
					</div>
					<div class="form-group">
						<label for="qtdBlocos"> <span
							th:text="#{inspecao.qtdBlocos}">qtdBlocos</span>
						</label> <input class="form-control" type="text" th:field="*{qtdBlocos}"
							th:errorclass="fieldError" />
					</div>

					<div class="form-group">
						<table class="table semBorda">
							<tr>
								<td><label th:for="${#ids.next('roubo')}"><span
										th:text="#{inspecao.roubo}">Roubo</span></label></td>
							</tr>
							<tr>
								<td><input type="radio" th:field="*{roubo}" value="true" />&nbsp;<span
									th:text="#{bool.true}" /></td>
								<td><input type="radio" th:field="*{roubo}" value="false" />&nbsp;<span
									th:text="#{bool.false}" /></td>
							</tr>
						</table>
					</div>

					<div class="form-group">
						<label for="observacao"> <span
							th:text="#{inspecao.observacao}">observacao</span>
						</label> <input class="form-control" type="text" th:field="*{observacao}"
							th:errorclass="fieldError" />
					</div>

					<div class="form-group">
						<label for="cliente" th:text="#{inspecao.cliente}">cliente</label>
						<select class="form-control" th:field="*{cliente}"
							th:onChange="'
						executaAjaxGet(\'/inspecao/ramoPorCliente/\' + $(this).val(), \'listaRamos\', \'\', function(){$(\'#opcaoClienteBranco\').remove();});
						executaAjaxGet(\'/inspecao/tipoInspecaoPorCliente/\' + $(this).val(), \'listaTipoInspecaos\', \'\', function(){$(\'#opcaoClienteBranco\').remove();});
						'">
							<option id="opcaoClienteBranco" value="">Selecione um
								Cliente</option>
							<option th:each="cliente : ${allClientes}"
								th:value="${cliente.idCliente}" th:text="${cliente.descCliente}">cliente</option>
						</select>
					</div>


					<div class="form-group">
						<label for="endereco.tipoLogradouro"> <span
							th:text="#{inspecao.endereco.tipoLogradouro}">tipoLogradouro</span>
						</label> <select class="form-control"
							th:field="*{endereco.tipoLogradouro}">
							<option th:each="tipoLogradouro : ${allTipoLogradouros}"
								th:value="${tipoLogradouro.idTipoLogradouro}"
								th:text="${tipoLogradouro.descTipoLogradouro}">tipoLogradouro</option>
						</select>
					</div>
					<div class="form-group">
						<label for="endereco.logradouro"> <span
							th:text="#{inspecao.endereco.logradouro}">logradouro</span>
						</label> <input class="form-control" type="text"
							th:field="*{endereco.logradouro}" th:errorclass="fieldError" />
					</div>
					<div class="form-group">
						<label for="endereco.bairro"> <span
							th:text="#{inspecao.endereco.bairro}">bairro</span>
						</label> <input class="form-control" type="text"
							th:field="*{endereco.bairro}" th:errorclass="fieldError" />
					</div>

					<div class="form-group">
						<label for="endereco.cep"> <span
							th:text="#{inspecao.endereco.cep}">cep</span>
						</label> <input class="form-control" type="text"
							th:field="*{endereco.cep}" th:errorclass="fieldError" />
					</div>


					<div class="form-group">
						<label for="endereco.complemento"> <span
							th:text="#{inspecao.endereco.complemento}">complemento</span>
						</label> <input class="form-control" type="text"
							th:field="*{endereco.complemento}" th:errorclass="fieldError" />
					</div>


					<div class="form-group">
						<label for="endereco.estado"> <span
							th:text="#{inspecao.endereco.estado}">estado</span>
						</label> <select class="form-control" th:field="*{endereco.estado}"
							th:onChange="'executaAjaxGet(\'/inspecao/cidadesPorEstado/\' + $(this).val(), \'listaCidades\', \'\', function(){$(\'#opcaoBranco\').remove();})'">
							<option id="opcaoBranco" value="">Selecione um Estado</option>
							<option th:each="estado : ${allEstados}"
								th:value="${estado.idEstado}" th:text="${estado.nomeEstado}">Estado</option>
						</select>
					</div>

					<div id="listaCidades" class="form-group">
						<label for="endereco.cidade"> <span
							th:text="#{inspecao.endereco.cidade}">cidade</span>
						</label> <select class="form-control" th:field="*{endereco.cidade}">
							<option th:each="cidade : ${listaCidades}"
								th:value="${cidade.idCidade}" th:text="${cidade.nomeCidade}">Cidade</option>
						</select>
					</div>


				<div id="listaRamos" class="form-group">
						<label for="ramo"> <span th:text="#{inspecao.ramo}">ramo</span>
						</label> <select class="form-control" th:field="*{ramo}">
							<option th:each="ramo : ${listaRamos}" th:value="${ramo.idRamo}"
								th:text="${ramo.descRamo}">Ramo</option>
						</select>
					</div>

					<div id="listaTipoInspecaos" class="form-group">
						<label for="tipoInspecao"> <span
							th:text="#{inspecao.tipoInspecao}">tipoInspecao</span>
						</label> <select class="form-control" th:field="*{tipoInspecao}">
							<option th:each="tipoInspecao : ${listaTipoInspecao}"
								th:value="${tipoInspecao.idTipoInspecao}"
								th:text="${tipoInspecao.descTipoInspecao}">tipoInspecao</option>
						</select>
					</div>


					<div class="form-group">
						<label for="status"> <span th:text="#{inspecao.status}">status</span>
						</label> <select class="form-control" th:field="*{status}">
							<option th:each="status : ${allStatus}"
								th:value="${status.idStatus}" th:text="${status.descStatus}">Status</option>
						</select>
					</div>

					<div class="form-group">
						<label for="segurado.cpfCnpj"> <span
							th:text="#{inspecao.segurado.cpfCnpj}">Cpf ou CNPJ</span>
						</label> <input class="form-control" type="text"
							th:field="*{segurado.cpfCnpj}" th:errorclass="fieldError" />
					</div>


					<div class="form-group">
						<label for="segurado.nomeSegurado"> <span
							th:text="#{inspecao.segurado.nomeSegurado}">Nome Segurado</span>
						</label> <input class="form-control" type="text"
							th:field="*{segurado.nomeSegurado}" th:errorclass="fieldError" />
					</div>




					<button class="btn btn-default" type="submit" name="save"
						onclick="formSubmitClick(this,'page-wrapper')"
						th:text="#{inspecao.salvar}">Add Inspecao</button>

				</fieldset>
			</form>
		</div>
	</div>
</div>