<div id="detalheInspecao" th:replace="inspecao/detalheInspecao"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">

			<div class="panel-body">
				<div class="panel-group" id="accordion">
					<div id="agendamentoAcordion"
						th:replace="agendamento/agendamentoAcordion"></div>
					<div id="designacaoAcordion"
						th:replace="designacao/designacaoAcordion"></div>

				</div>
			</div>
			<!-- .panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
