<br></br>
<div id="detalheInspecao"></div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">Lista de Inspeções</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<table width="100%"
					class="table table-striped table-bordered table-hover"
					id="listaInspecoesPorFuncionarioDesignado">

					<thead>
						<tr>
							<th>Protocolo</th>
							<th>Data Agendamento</th>
							<th>Data Cadastro</th>
							<th>Data Limite</th>
							<th>Atividade</th>
							<th>Proponente</th>
							<th>Nome Contato</th>
							<th>Endereço</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="obj, objStat:${listaInspecoes}" th:class="${not #lists.isEmpty(obj.vistorias)}? (${obj.vistorias[0].dtFimInspecao}? 'success':''):''">
							<td th:text="${obj.idInspecao}">teste</td>
							<td th:text="${{obj.dtAgendada}}">teste</td>
							<td th:text="${{obj.dtSolicitacaoInspecao}}">teste</td>
							<td th:text="${{obj.dtLimite}}">teste</td>
							<td><span th:each="atv : ${obj.inspecaoAtividadeInformada}"  th:text="${atv.descAtividade} + '; '"></span></td>
							<td th:text="${obj.segurado.nomeSegurado}">teste</td>
							<td><span th:each="agd : ${obj.agendamentos}" th:text="${agd.ultimo}? ${agd.nomeContato}"></span></td>
							<td
								th:text="${obj.endereco.tipoLogradouro.descTipoLogradouro} + ' ' + ${obj.endereco.logradouro} + ' - ' + ${obj.endereco.cidade.nomeCidade} ">teste</td>
							<td><a href="#"
								th:onClick="'executaAjaxGet(\'/vistoria/inspecaoInicioFimCustos/' + ${obj.idInspecao}+ '\',\'detalheInspecao\',\'\',\'\')'"><span
									class="glyphicon glyphicon-calendar"> </span></a> teste</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

